/*Theme Name: Brain & Behaviour Lab
Description: WordPress Theme based on the 2015 USyd Template. Copyrighted and not for use without permission.
Version: 1.0
Author: Sean Law
Author URI: seanlaw.io

-- original from siteground: --
body { text-align: center; }
#wrapper { display: block; border: 1px #a2a2a2 solid; width:90%; margin:0px auto; }
#header { border: 2px #a2a2a2 solid; }
#content { width: 75%; border: 2px #a2a2a2 solid; float: left; }
#sidebar { width: 23%; border: 2px #a2a2a2 solid; float: right; }
#delimiter { clear: both; }
#footer { border: 2px #a2a2a2 solid; }
.title { font-size: 11pt; font-family: verdana; font-weight: bold; }
*/

/* alignright wp-image-xyz size-full */
img.alignleft   { float:left; clear: both;
	border: 1px solid #ddd !important; padding: 6px  !important; margin-right: 1.625em;
	}
img.alignright   { float:right; clear: both;
	border: 1px solid #ddd !important; padding: 6px  !important; margin-left: 1.625em;
	}
img.aligncenter  { clear: both; display: block; margin-left: auto; margin-right: auto;}

/* news widget for MINDS lab */
.widget-title {
	background: #12416c;
	color: #fff;
	padding: .467em .667em .467em .667em;
	margin: 0 .667em 0 0;
	text-transform: uppercase;
};
@charset "utf-8";#wpnb_popBoxOut{position:fixed;left:50%;top:10%;display:none;z-index:999999}#wpnb_popBox{position:absolute;width:800px;height:auto!important;background:#fff;z-index:999999;left:-400px;padding:20px;border:2px solid #eee;border-radius:5px;box-shadow:0 0 5px #111;height:450px;display:none}#wpnb_hideBody{opacity:.4;filter:alpha(opacity=40);background:#000;position:fixed;top:0;bottom:0;left:0;right:0;z-index:999998;display:none}#wpnb_popClose{position:absolute;top:-11px;right:-16px;height:30px;width:auto;opacity:.4;filter:alpha(opacity=40);cursor:pointer;z-index:999999}#wpnb_popClose:hover{opacity:01;filter:alpha(opacity=100)}.wpnbnews ul li{margin-bottom:5px;padding-bottom:5px;border-bottom:1px solid #eee;padding-bottom:10px;-webkit-box-sizing:content-box!important;-moz-box-sizing:content-box!important;box-sizing:content-box!important}.wpnbnews ul li img{width:35%;height:auto;background:#F9F9F9;border:1px solid #ddd;border-radius:4px;padding:4px;box-shadow:1px 1px 3px #ccc;float:left;margin:5px 8px 5px 0}.wpnbnews ul li a{float:right}.pluga1c2r{display:none!important}.wpnb_trg{cursor:pointer}.clrFixia{clear:both}.wpnb{display:none}.wpnb h1{line-height:180%;color:#333;font-size:24px;font-weight:400;padding:5px 5px 10px;border-bottom:1px solid #eee;margin:0 0 10px}.wpnb img{float:left;margin:10px 15px 10px 0}.wpnb p{line-height:22px}.wpnb .pop{color:#333333;line-height:165%;height:345px;overflow:auto;padding:10px}.wpnb_date{text-align:right;font-style:italic}body.single-wpnbnews aside.widget_wpnb_widget{display:none!important}body.single-wpnbnews article.wpnbnews{position:static !important;}


/* Brain Behaviour Lab Specific Styles */
#content {
    padding: 0;
    margin: 0;
}
